*{
    margin: 0px;
    padding: 0px;
}

/* .main-container{
    background-color: #F9F6EE;
    height: 150px;
    display: flex;
    justify-content:space-evenly;
    color: black;
} */
ul li{
    list-style: none;
    font-size: 25px;
}
li{
    line-height: 2rem;
}
